/* 
 * Custom CSS
 *
 * Create a custom.css file to add custom styles to your menu.
 */


 .ubermenu-skin-clean-white {
     font-size: .9em;
     font-weight: normal !important;
     font-family: 'ProximaNova-Bold' !important;
 }

 .ubermenu .ubermenu-submenu-type-stack>.ubermenu-item-normal>.ubermenu-target {
     font-size: 1em !important;
     font-family: 'ProximaNova-Regular' !important;
 }

 .ubermenu-skin-clean-white .ubermenu-submenu .ubermenu-item-header.ubermenu-has-submenu-stack > .ubermenu-target {
     font-weight: normal !important;
 }