body {
    font-family: 'ProximaNova-Regular' !important;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    
    font-family: 'ProximaNova-Bold' !important;
    font-weight: normal;
}

.nav > li > a {
    font-family: 'ProximaNova-Bold' !important;
    font-weight: normal !important;
}


.light-font {
    font-family: 'ProximaNova-Regular' !important;
}

.black-font {
    font-family: 'Gotham HTF' !important;
}

.nav-dropdown.nav-dropdown-default>li>a {
    margin: 0 !important;
}

ul li.bullet-checkmark:before, 
ul li.bullet-arrow:before, 
ul li.bullet-star:before {
    color: #88c053 !important;
}

ul li.bullet-checkmark {
    border-bottom: none !important;
}

strong {
    font-family: 'ProximaNova-Bold';
    font-weight: normal !important;
}

.product-page-price {
    font-weight: normal !important;
    font-family: 'ProximaNova-Bold' !important;
    color: #f2853b !important;
}

span.amount {
    font-weight: normal !important;
}

.button {
    font-weight: normal !important;
}

.button i {
    top: 0 !important;
}

/* Search */
.form-flat input:not([type="submit"]) {
    background-color: #ffffff !important;
    border-radius: 6px !important;
}

/* Header */

.header-shadow, .header-wrapper {
    box-shadow: 0 1px 10px rgba(50,50,93,.11), 0 0px 3px rgba(0,0,0,.08) !important;
}

.header-top {
    border-bottom: 3px solid #ff2222;
}

.nav-dark .nav>li>a {
    color: #ffffff !important;
}

/* Produk */

.box-text-products {
    border-top: 2px solid #dd3433;
}

.searchform-wrapper.form-flat .flex-col:last-of-type {
    border-left: 1px solid #ddd;
}

.page-visit-counter-block {
    font-size: .8em;
    background: #4caa47;
    border-radius: 4px;
    color: #fff !important;
    width: 220px;
    padding: 5px 15px;
    border: 1px solid #fff;
}


.absolute-footer {
    border-top: 3px solid #ed3833 !important;
}

.button-subscribe {
    border-radius: 4px !important;
    color: #094690 !important;
}

.message-box-bg-overlay {
    border-bottom: 3px solid #dd3433;
}

.product-title {
    font-family: 'ProximaNova-Bold' !important;
    font-weight: normal;
}

.widget_product_categories>ul>li {
    font-family: 'ProximaNova-Bold' !important;
    font-size: 1em;
    font-weight: normal;
}

.widget .current-cat>a {
    font-weight: normal !important;
}



.widget>ul>li ul {
    border-left: 2px solid #dd3433 !important; 
}

.widget>ul>li .count {
    color: #dd3433 !important;
    opacity: 1 !important;
}

.widget>ul>li>a {
    font-size: .9em;
}