body {
    font-family: 'Gotham HTF' !important;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    
    font-family: 'Gotham HTF' !important;
    font-weight: 500;
}

.nav > li > a {
    font-family: 'Gotham HTF' !important;
}

.light-font {
    font-family: 'Gotham HTF' !important;
}

.black-font {
    font-family: 'Gotham HTF' !important;
}

.nav-dropdown.nav-dropdown-default>li>a {
    margin: 0 !important;
}

ul li.bullet-checkmark:before, 
ul li.bullet-arrow:before, 
ul li.bullet-star:before {
    color: #88c053 !important;
}

ul li.bullet-checkmark {
    border-bottom: none !important;
}

strong {
    font-family: 'ProximaNova-Bold';
    font-weight: normal !important;
}