
@font-face {
	font-family: 'ProximaNova-Regular';
	src: url('../fonts/ProximaNova-Regular.eot?') format('eot'), 
	     url('../fonts/ProximaNova-Regular.otf')  format('opentype'),
	     url('../fonts/ProximaNova-Regular.woff') format('woff'), 
	     url('../fonts/ProximaNova-Regular.ttf')  format('truetype'),
	     url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
}


@font-face {
	font-family: 'ProximaNova-Light';
	src: url('../fonts/ProximaNova-Light.eot?') format('eot'), 
	     url('../fonts/ProximaNova-Light.otf')  format('opentype'),
	     url('../fonts/ProximaNova-Light.woff') format('woff'), 
	     url('../fonts/ProximaNova-Light.ttf')  format('truetype'),
	     url('../fonts/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
}



@font-face {
	font-family: 'ProximaNova-Bold';
	src: url('../fonts/ProximaNova-Bold.eot?') format('eot'), 
	     url('../fonts/ProximaNova-Bold.otf')  format('opentype'),
	     url('../fonts/ProximaNova-Bold.woff') format('woff'), 
	     url('../fonts/ProximaNova-Bold.ttf')  format('truetype'),
	     url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
}


@font-face {
	font-family: 'ProximaNova-Black';
	src: url('../fonts/ProximaNova-Black.eot?') format('eot'), 
	     url('../fonts/ProximaNova-Black.otf')  format('opentype'),
	     url('../fonts/ProximaNova-Black.woff') format('woff'), 
	     url('../fonts/ProximaNova-Black.ttf')  format('truetype'),
	     url('../fonts/ProximaNova-Black.svg#ProximaNova-Black') format('svg');
}

